<div class="container">
    <div class="row">
        <h2 class="text-center  formadd ">{{productId ? "Edit user":"Add new user"}}</h2>
    </div>
</div>

<div class="col-md-6 offset-md-6 myform">
    <div class="container">
      
        <div class="row ">
            <form [formGroup]="addform" method="post" (ngSubmit)="addproduct()" >
              
                <div class="mb-3">
                  <img style="margin-bottom: 20px;" src="{{base64}} "width=400 height="400">
                  <input  type="file" accept="image/*" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
                  
                  (change)="getImagePath($event)"
                 > 
                  <ng-container *ngIf="getsrc.touched" >
                    <p *ngIf="getsrc.hasError('required')" class="text-danger">Imgsrc is required</p>
                    <p *ngIf="getsrc.hasError('pattern')" class="text-danger">Enter a valid image url</p>
                    

                  </ng-container>              
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Product name </label>
                  <input formControlName="name" type="text" class="form-control" id="exampleInputPassword1"
                  >
                </div>
                <ng-container *ngIf="getname.touched" >
                    <p *ngIf="getname.hasError('required')" class="text-danger">Product name is required</p>
                    <p *ngIf="getname.hasError('pattern')" class="text-danger">Enter a valid name</p>

                  </ng-container>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Product description </label>
                    <input formControlName="desc" type="text" class="form-control" id="exampleInputPassword1"
                    >
                  </div>
                  <ng-container *ngIf="getdesc.touched" >
                    <p *ngIf="getdesc.hasError('required')" class="text-danger">Product description is required</p>
                    <p *ngIf="getdesc.hasError('pattern')" class="text-danger">Enter a valid description</p>

                  </ng-container>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Product price </label>
                    <input formControlName="price" type="text" class="form-control" id="exampleInputPassword1"
                    >
                  </div>
                  <ng-container *ngIf="getprice.touched" >
                    <p *ngIf="getprice.hasError('required')" class="text-danger">Product price is required</p>
                    <p *ngIf="getprice.hasError('pattern')" class="text-danger">Enter a valid price</p>

                  </ng-container>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Product quantity </label>
                    <input formControlName="quantity" type="text" class="form-control" id="exampleInputPassword1"
                    >
                  </div>
                  <ng-container *ngIf="getquantity.touched" >
                    <p *ngIf="getquantity.hasError('required')" class="text-danger">Product quantity is required</p>
                    <p *ngIf="getquantity.hasError('pattern')" class="text-danger">Enter a valid quantity</p>

                  </ng-container>

                <button [disabled]="addform.invalid" type="submit" class="btn btn-outline-success">{{productId ? "Edit user":"Add new user"}}</button>
              </form>
        </div>
    </div>
</div>
