<div class="mydash ">
    <div class="container">
        <h2 class="text-center p-3 mb-3 ">Admin</h2>
        <a routerLink="/formadd" class="btn btn-success mb-3">Add new product</a>

        <div class="row g-3">
            <div *ngFor="let item of allProduct" class="card  col-md-3 " >
                <img  src="{{item.src}}" class=" card-img-top " alt="..." height="300">
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text">{{item.desc}}</p>
                  <p class="card-text fw-bold ">Price:${{item.price}}</p>
                  <p class="card-text ">Quantity:{{item.quantity}}</p>
                  <button  class="btn btn-info d-block mt-2 w-100"(click)="productDetail(item.id)">Product details</button>
                  <a  class="btn btn-warning d-block mt-2 w-100" [routerLink]="['/formadd/',item.id]">Edit product</a>
                  <button  class="btn btn-danger d-block mt-2  w-100" (click)="removeProduct(item.id)">Delete product</button>
                </div>
              </div>

        </div>
    </div>
</div>
