<div class="col-md-6 mycard">
    <div class="container">
        <h2 class="text-center mt-5 mb-5">product details</h2>
        <div class="row">
            <div class="card" >
                <img src="{{product.src}}" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <p class="card-text">{{product.desc}}</p>
                  <p class="card-text fw-bold ">Price:${{product.price}}</p>
                  <p class="card-text ">Quantity:{{product.quantity}}</p>
                </div>
              </div>
        </div>
    </div>
</div>