<div class="aboutus">
    <div class="container">
        <h2 class="text-center h2about">About us</h2>
        <div class="row ">
            <img class="col-sm-6 col-md-6 img1" src="https://media.istockphoto.com/id/1069113788/photo/flower-shop.jpg?s=612x612&w=0&k=20&c=zHOcAMFWrbxzlbfR9PWuGjU_wD6WX87A7qkoIEkSP8s=" width="300px">
            <p  class="col-sm-6 col-md-6 p-5  bara">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto laborum, voluptas hic at accusantium consequatur ipsam exercitationem,
                 fuga minima officia ipsa, voluptate ipsum sapiente tempore amet deserunt nam repudiandae corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cumque vitae sit non pariatur praesentium labore exercitationem error perspiciatis recusandae, tenetur cum?
                  Autem expedita aperiam itaque architecto totam sunt quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ea sit voluptatem. Ipsum dolorem, eaque sint illo nihil incidunt veritatis vel modi,
                   iusto reprehenderit aperiam facilis commodi magni, voluptatum earum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse aliquam possimus totam nulla, recusandae omnis, ab rerum consequatur eum nisi placeat sit aspernatur aut ea? 
                   Veritatis debitis unde impedit asperiores.</p>

        </div>
    </div>
</div>

<div class="aboutus2 ourjoureny">
    <div class="container">
        <div class="row ourjoureny">
            <p class=" col-sm-6 col-md-6 p-5 bara2">Our journey</p>
            <p  class="col-sm-6 col-md-6 p-5  bara">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto laborum, voluptas hic at accusantium consequatur ipsam exercitationem,
                 fuga minima officia ipsa, voluptate ipsum sapiente tempore amet deserunt nam repudiandae corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cumque vitae sit non pariatur praesentium labore exercitationem error perspiciatis recusandae, tenetur cum?
                  Autem expedita aperiam itaque architecto totam sunt quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ea sit voluptatem. Ipsum dolorem, eaque sint illo nihil incidunt veritatis vel modi,
                   iusto reprehenderit aperiam facilis commodi magni, voluptatum earum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse aliquam possimus totam nulla, recusandae omnis, ab rerum consequatur eum nisi placeat sit aspernatur aut ea? 
                   Veritatis debitis unde impedit asperiores.</p>

        </div>
    </div>
</div>


<div class="aboutus3">
    <div class="container">
        <h2 class="text-center mb-5 h2about">Owners</h2>
        <div class="row ">
            <img class="col-sm-6 col-md-6 img1" src="assets/image/slider3.jpg">
           
            <p  class="col-sm-6 col-md-6 p-5  bara">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto laborum, voluptas hic at accusantium consequatur ipsam exercitationem,
                 fuga minima officia ipsa, voluptate ipsum sapiente tempore amet deserunt nam repudiandae corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cumque vitae sit non pariatur praesentium labore exercitationem error perspiciatis recusandae, tenetur cum?
                  Autem expedita aperiam itaque architecto totam sunt quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ea sit voluptatem. Ipsum dolorem, eaque sint illo nihil incidunt veritatis vel modi,
                   iusto reprehenderit aperiam facilis commodi magni.</p>

        </div>

        <div class="row ">
            <p  class="col-sm-6 col-md-6 p-5  bara">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto laborum, voluptas hic at accusantium consequatur ipsam exercitationem,
                fuga minima officia ipsa, voluptate ipsum sapiente tempore amet deserunt nam repudiandae corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cumque vitae sit non pariatur praesentium labore exercitationem error perspiciatis recusandae, tenetur cum?
                 Autem expedita aperiam itaque architecto totam sunt quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ea sit voluptatem. Ipsum dolorem, eaque sint illo nihil incidunt veritatis vel modi,
                  iusto reprehenderit aperiam facilis commodi magni.</p>

            <img class="col-sm-6 col-md-6 img1" src="https://media.istockphoto.com/id/1455789537/photo/beautiful-emotional-woman-holding-bouquet-of-flowers.jpg?s=612x612&w=0&k=20&c=3DZUgxP_J2zDUwXVNkJ1cQINqHFJ4aY-VJlEPV0VIVA=">
           
           

        </div>
    </div>
</div>


