<div class="who" >
    <div class="container">
        <h2 class="text-center">WHO ARE WE?</h2>
        <div class="row" >
            <img class="col-sm-6 col-md-6" src="assets/image/nn1.jpg">
            <p   class="col-sm-6 col-md-6 p-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto laborum, voluptas hic at accusantium consequatur ipsam exercitationem,
                 fuga minima officia ipsa, voluptate ipsum sapiente tempore amet deserunt nam repudiandae corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet cumque vitae sit non pariatur praesentium labore exercitationem error perspiciatis recusandae, tenetur cum?
                  Autem expedita aperiam itaque architecto totam sunt quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ea sit voluptatem. Ipsum dolorem, eaque sint illo nihil incidunt veritatis vel modi,
                   iusto reprehenderit aperiam facilis commodi magni, voluptatum earum!</p>

        </div>
    </div>
</div>
